* {
    font-family: helvetica;
    color: white;
	background-color: darkgray;
}


a {
    border-width: medium;
    border-style: solid;
    text-decoration: none;
    padding: 7px;
}

p {
	font-size: 12pt;
}

h1 {
	padding: 10px;
	padding-left: 20px;
	letter-spacing: 3px;
}

h2 {
	color: cyan;
	letter-spacing: 3px;
}

.h1 {
	border-width: medium;
	border-style: dashed;
	color: lightgray;
}

a:hover {
	font-size: 14pt;
	color: black;
	width: 200px;
	height: 200px;
	transition: 3s;
}

h1:hover {
	font-size: 40pt;
	transition: 3s;
	color: cyan;
}

#left {
	float: left;
	padding-left: 120px;
	padding-bottom: 30px;
}

#right {
	float: right;
	padding-right: 230px;
	padding-bottom: 30px;
}

#footer {
	text-align: center;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 10px;	
	background-color: black;
}